{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/product-create"
}}

<div class="card">
  <div>
    <h1>{{info}}</h1>
  </div>

  <div>
    <a href='/product-list' class="btn">Повернутись назад</a>
  </div>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}