{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="form">
  {{#with data.products}}
  <h1 class="form__list_title">Список товарів</h1>

  <div class="form__card_list">
    {{#if isEmpty}}
    <mark>Список товарів пустий</mark>
    {{else}}
    {{> product-card}}
    {{/if}}
  </div>
  {{/with}}
</div>

{{!
Цей код містить лише те, що буде виводитись в
<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}